h1 {
    font-family: 'Langar', cursive;
    text-align: center;
}

table {
    margin: auto;
}

td {
    height: 250px;
    padding: 100px;
    border: 10px solid white;
}

#First {
    background-color: #2B2D42;
}

#Second {
    background-color: #8D99AE;
}

#Third {
    background-color: #EDF2F4;
}

#Fourth {
    background-color: #EF233C;
}

#Fifth {
    background-color: #D90429;
}